[Desktop Entry]
Version=1.0
Name=MTP: Real Helene with Needle
Comment=Mit dieser Verknuepfung werden alle erforderlichen Nodes zum Benutzen des Helene Roboterarms gestartet.
GenericName=MTP: Real Helene with Needle
Keywords=System;Robotarm;ROS;noetic;Helene
Exec=bash -ic "echo Sofern Ihnen der Versuch gefällt, schauen Sie in Zukunft doch nach einer Abschlussarbeit beim Fachgebiet Mess- und Sensortechnik?; echo Ich verbinde mich jetzt mit Helene; pkill -f ros; sed -i '/export ROS_MASTER_URI/d' ~/.bashrc;source /opt/ros/noetic/setup.bash;source ~/ros_ws/devel/setup.bash; sleep 5;roslaunch messtechnik_praktikum messtechnik_praktikum.launch simulation:=false"
Terminal=true
Type=Application
Icon=messtechnik_praktikum_real_robot.png
Categories=Development;
