[Desktop Entry]
Version=1.0
Name=Messtechnik Praktikum Studenten
Comment=Mit dieser Verknuepfung wird der code der Studenten gestartet
GenericName=Start student code
Keywords=System;Robotarm;ROS;noetic;Helene
Exec=bash -c "source /opt/ros/noetic/setup.bash;source ~/ros_ws/devel/setup.bash;sleep 1;rosrun messtechnik_praktikum messtechnik_praktikum.py"
Terminal=true
Type=Application
Icon=Student.png
Categories=Development;